<div *ngIf="!verCarro" class="container">
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <form class="col-12">
        <div class="form-group">
            <label for="exampleInputEmail1">Ingresa tu Email</label>
            <input type="text" class="form-control" placeholder="Enter email" [(ngModel)]="correo" name="correo">
            <small id="emailHelp" class="form-text text-muted">Es requerido para tu carro de compras</small>
        </div>
        <div class="form-group">
          {{ email }}
        </div>
        <div class="form-check">
        </div>
        <button (click)="carritoCompras()" class="btn btn-primary">Go!</button>
      </form>   
    </div>
  </div>
</div>

<app-carro-compras *ngIf="verCarro"></app-carro-compras>